.App {
  text-align: center;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  padding-top: 5px;
}

.header {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.toolbar-left {
  width: 80%;
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
}

.distance {
  margin-top: -15px;
}


